.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
    background-color: teal;
    color: #fff;  
    position:static;  
}

.nav-links a {
    color: #fff;
}
    
.logo {
font-size: 32px;  
  
}

.menu {
display: flex;
gap: 1em;
font-size: 18px;
}

.menu li:hover {
background-color: #4c9e9e;
border-radius: 5px;
transition: 0.3s ease;
}
.menu li {
padding: 5px 14px;
}

body {
    
    
}

.heading{
    text-align: center;
    padding-top: 200px;
    color:black;
    padding-bottom: 100px;

    background-image: url('banner-image.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label,
input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;

}

.form{
   
}

.contact{
    background-color:aqua;
    padding-top: 10px;
    margin-top: 0px;
    padding-bottom: 20px;
    
}



.submit{
    text-align: center;
    align-self: center;
}
    

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  



.about{
    background-color: aqua;
    
    padding-top: 10px;
    color:black;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:  medium;
    font-weight: lighter;
    font-style: italic;
}


.safety-video{
    background-color: cadetblue;
}

footer{
    text-align: center;
    padding-top: 10px;
}